*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1514027818507-d55a1ec83779?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
}

.container{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.container-one {
  background-color: #f0f0f0;
  height: 250px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  display: flex;
}
.container-two{
  margin-left: 20px;
  min-height: 250px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1 {
  color: #ffffff;
}
.heading{
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
form {
  background-color: #ffffff6c;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="file"] {
  margin-bottom: 20px;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
#download-link {
  margin-top: 10px;
  display: none;
}